// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Line height
$base-font-size: 12px;
$base-line-height: 1.5;
$heading-line-height: 1.2;

$letter-spacing-base: 0.1em;
$letter-spacing-large: 0.65em;
$text-indent-hack: -5000px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Parallax
$parallax-icon-size: 30px;

// Colors

// Colors: Base
$c-black: #000;
$c-black-10: rgba($c-black, 0.1);
$c-black-30: rgba($c-black, 0.3);
$c-white: #fff;

// Colors: Theme
$color-cararra: #edede6;
$color-chicago: #595959;
$color-mercury: #e7e7e8;
$color-mongoose: #c2a376;
$color-rangoon-green: #1d1d1d;
$color-storm-dust: #666;
$color-tundora: #4d4843;
$color-twine: #c2945e;
$color-twine-30: rgba($color-twine, 0.3);
$color-woodsmoke: #111;
$color-icon-gold: #97744c;

$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $color-cararra;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-transition-duration: 150ms;
$base-transition-timing: ease;
$base-transition-duration: 0.45s;
$default-transition-timing: ease-in-out;
$default-transition: $base-transition-duration $default-transition-timing;

// Images
$font-sans-serif: sans-serif;
$font-family-oswald: 'Oswald', $font-sans-serif;
$font-family-anonymous: 'Anonymous Pro', monospace;
$font-family-roboto: 'Roboto Condensed', $font-sans-serif;

// Buttons
$slider-buttons-width: 59px;

$url-0: url('../images/layout/gallery_share-icons.png');
$url-1: url('../images/layout/header_btn-previous.png');
$url-2: url('../images/layout/header_btn-next.png');
$url-3: url('../images/layout/gallery_cursor.png');
$url-4: url('../images/layout/header_logo.png');
$url-5: url('../images/layout/icon_1-small-dark.png');
$url-6: url('../images/layout/btn_arrow.png');
$url-7: url('../images/layout/btn_arrow-inverted.png');
$url-8: url('../images/layout/home_btn-scroll-down.png');
$url-9: url('../images/layout/about_btn-scroll-down.png');
$url-10: url('../images/layout/header_btn-menu.png');
$url-11: url('../images/layout/header_btn-menu-txt.png');
$url-12: url('../images/layout/header_bg.png');
$url-13: url('../images/layout/header_cursor.png');
$url-14: url('../images/layout/icon_1.png');
$url-15: url('../images/layout/home_signature.png');
$url-17: url('../images/layout/about_signature.png');
$url-20: url('../images/layout/icon_2.png');
$url-21: url('../images/layout/bullet_dash.png');
$url-22: url('../images/layout/icon_2-dark.png');
$url-24: url('../images/layout/tips_btn-arrow.png');
$url-25: url('../images/layout/bullet_dash-white.png');
$url-26: url('../images/layout/contact_share-separator.png');
$url-27: url('../images/layout/contact_share-fb.png');
$url-28: url('../images/layout/contact_share-twitter.png');
$url-29: url('../images/layout/contact_share-pinterest.png');
$url-30: url('../images/layout/icon_3.png');
$url-31: url('../images/layout/footer_separator.png');
$url-32: url('../images/layout/footer_logo.png');

%extend-2 {
  @include transition(opacity 0.45s ease-in-out 1.25s);
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: relative;
}
