@import './vendor/reset';
// @import './vendor/normalize';
@import '../../../node_modules/bourbon/core/bourbon';
@import 'utils/mixins';
@import 'variables';
@import 'base/buttons';
@import 'base/forms';
@import 'base/layout';
@import 'base/lists';
@import 'base/media';
@import 'base/tables';
@import 'base/typography';

// Components
@import 'components/header';
@import 'components/card-container';
@import 'components/animations';
@import 'components/scroll-btn';

#loading-mask {
  @include size(100%);
  @include position(fixed, 0);
  background: $color-tundora;
  display: block;
  opacity: 1;
  transition: 750ms opacity;
  z-index: 999;

  &.loaded {
    opacity: 0;
    z-index: -1;
  }
}

#homepage {
  #block1 {
    position: relative;
  }
}
