html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

$z-index-section: 700;

#wrapper {
  min-width: 980px;
  overflow: hidden;

  #gallery {
    z-index: 500;
  }

  > section {
    overflow: hidden;
    position: relative;
    z-index: $z-index-section;

    > div {
      overflow: hidden;
    }
  }

  .centered {
    @include clearfix;
    @include margin(0 auto);
    max-width: 1375px;
    position: relative;
    width: 80%;
  }
}
