@import '../variables';

.btn-arrow {
  border: 3px solid $c-white;
  color: $c-white;
  display: block;
  float: left;
  font-family: $font-family-anonymous;
  position: relative;

  .txt {
    border-right: 2px solid $c-white;
    display: block;
    height: 65px;
    margin-right: $slider-buttons-width;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .big {
      @include transition(margin-top 0.45s ease-in-out, background 0.45s ease-in-out);
      display: block;
      min-width: 115px;
      padding: 15px 25px 0;

      > span {
        display: block;
        font-size: 15px;
        line-height: 50px;
        white-space: nowrap;
      }
    }

    .small {
      @extend %font-style-3;
      @include position(absolute, 7px null null 10px);
      display: block;
    }
  }

  .bg {
    @include position(absolute, 0 0 null null);
    background: $url-6 repeat-x 0 center;
    display: block;
    height: 100%;
    width: $slider-buttons-width;
  }

  &.inverted {
    border-color: $color-twine;
    color: $color-twine;

    .txt {
      border-color: $color-twine;
    }

    .bg {
      background-image: $url-7;
    }
  }

  &:hover {
    .bg {
      background-position: $slider-buttons-width center;
    }
  }
}

#btn-lang {
  @extend %font-style-1;
  @include position(fixed, 0 null null 0);
  background: $c-white;
  color: $color-rangoon-green;
  display: block;
  padding: 15px 0;
  text-align: center;
  width: 85px;
  z-index: 830;

  span {
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $color-rangoon-green;
    }
  }
}
