.card-container {
  position: relative;
  z-index: 10;

  h2,
  h3 {
    margin: 0;
  }

  > div {
    @include transition(width 0.75s ease-in-out);
    background: $c-white;
    overflow: hidden;
    position: relative;
    width: 0;

    > div {
      margin: 20px;
      padding: 4px;
      position: relative;

      .frame {
        position: absolute;

        > div {
          @include transition(width 0.75s ease-in-out 0.75s, height 0.75s ease-in-out 0.75s);
          background: $color-rangoon-green;
          overflow: hidden;
          position: absolute;
        }

        &.top {
          @include position(null, 0 null null 0);
          @include size(100%, 4px);

          > div {
            @include position(null, 0 null null 0);
            @include size(0, 100%);
          }
        }

        &.right {
          @include position(null, 0 0 null null);
          @include size(4px, 100%);

          > div {
            @include position(null, 0 null null 0);
            @include size(100%, 0);
          }
        }

        &.bottom {
          @include position(null, null 0 0 null);
          @include size(100%, 4px);

          > div {
            @include position(null, 0 0 null null);
            @include size(0, 100%);
          }
        }

        &.left {
          @include position(null, null null 0 0);
          @include size(4px, 100%);

          > div {
            @include position(null, null null 0 0);
            @include size(100%, 0);
          }
        }
      }

      .border {
        position: absolute;
        z-index: 15;

        > div {
          @include transition(width 0.75s ease-in-out 1s, height 0.75s ease-in-out 1s);
          background: $color-chicago;
          overflow: hidden;
          position: absolute;
        }

        &.top {
          @include position(null, 0 null null 0);
          @include size(100%, 2px);

          > div {
            @include position(null, 0 null null 0);
            @include size(0, 100%);
          }
        }

        &.right {
          @include position(null, 0 0 null null);
          @include size(2px, 100%);

          > div {
            @include position(null, 0 null null 0);
            @include size(100%, 0);
          }
        }

        &.bottom {
          @include position(null, null 0 0 null);
          @include size(100%, 2px);

          > div {
            @include position(null, 0 0 null null);
            @include size(0, 100%);
          }
        }

        &.left {
          @include position(null, null null 0 0);
          @include size(2px, 100%);

          > div {
            @include position(null, null null 0 0);
            @include size(100%, 0);
          }
        }
      }

      .content {
        position: relative;
      }
    }
  }

  &.loaded {
    > div {
      width: 100%;

      > div {
        .frame,
        .border {
          > div {
            @include size(100%);
          }
        }

        .content > * {
          color: $color-rangoon-green;
        }
      }
    }
  }
}
