@import '../variables';

$header-button-text--height: 94px;
$header-button-text--width: 38px;
$header-button--height: 178px;
$header-button--width: $header-button--height - $header-button-text--height; // 84px
$header-button--z-index: 800;

#header {
  @include position(fixed, 0 null null 0);
  @include size(100%);
  background: $url-12;
  cursor: $url-13 21 21, auto;
  // display: none;
  opacity: 0;
  transition: opacity 750ms;

  &.opened {
    display: block;
    opacity: 1;
    z-index: 825;
  }
}

#header_btn-menu {
  @include size($header-button--width, $header-button--height);
  @include position(fixed, 50% null null (-$header-button--width));
  @include transition(left 0.45s ease-in-out);
  background: $c-white $url-10 no-repeat center center;
  margin-top: -$header-button--height / 2;
  z-index: $header-button--z-index;

  &.loaded {
    left: 0;
  }

  &.hidden,
  &.no-menu {
    left: -$header-button--width;
  }

  &:hover {
    > span {
      > span {
        transform: rotatey(-90deg);

        &::before {
          background-color: $color-cararra;
        }
      }
    }
  }

  > span {
    @include size($header-button-text--width, $header-button-text--height);
    @include position(absolute, 61px null null 23px);
    display: block;
    overflow: hidden;

    > span {
      @include size(100%);
      @include transition(background 0.45s ease-in-out, transform 0.45s ease-in-out);
      background: $c-white $url-11 no-repeat center center;
      display: block;
      position: relative;
      text-indent: -5000px;
      transform-origin: 0 50%;
      transform-style: preserve-3d;

      &::before {
        @include position(absolute, 0 null null 100%);
        @include size(100%);
        @include transition(background 0.45s ease-in-out, transform 0.45s ease-in-out);
        background: $color-storm-dust $url-11 no-repeat center center;
        content: attr(data-hover);
        display: block;
        text-indent: -5000px;
        transform: rotatey(90deg);
        transform-origin: inherit;
      }
    }
  }
}
