.btn-scroll-down {
  @include transition(opacity 0.55s ease-in-out, bottom 0.55s ease-in-out);
  bottom: -80px;
  display: block;
  left: 50%;
  margin-left: -40px;
  position: fixed;
  z-index: 820;

  &:hover {
    > .icon {
      background-position: center 62px;
    }
  }

  &.about {
    left: 0;
    margin-left: -15px;

    @media (max-width: 1380px) {
      margin-left: -10px;
    }

    > {
      .bg {
        background: $c-white;
        filter: alpha(opacity=100);
        opacity: 1;
      }

      .icon {
        background-image: $url-9;
        border-color: $color-rangoon-green;
      }
    }
  }

  &.loaded {
    bottom: 65px;
  }

  &.hidden {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  > {
    .bg {
      background: $c-black;
      display: block;
      filter: alpha(opacity=25);
      height: 80px;
      opacity: 0.25;
      position: relative;
      width: 80px;
    }

    .icon {
      @include transition(background 0.45s ease-in-out);
      @include size(62px);
      background: $url-8 repeat-y center center;
      border: 2px solid $color-twine;
      display: block;
      left: 0;
      margin: 7px;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
}
