.btn-scroll-down {
  @include position(fixed, null null (-80px) 50%);
  @include transition(opacity 0.55s ease-in-out, bottom 0.55s ease-in-out);
  display: block;
  margin-left: -40px;
  z-index: 820;

  &:hover {
    > .icon {
      background-position: center 62px;
    }
  }

  &.loaded {
    bottom: 65px;
  }

  &.hidden {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  > {
    .bg {
      @include size(80px);
      background: $c-black;
      display: block;
      filter: alpha(opacity=25);
      opacity: 0.25;
      position: relative;
    }

    .icon {
      @include transition(background 0.45s ease-in-out);
      @include position(absolute, 0 null null 0);
      @include size(62px);
      background: $url-8 repeat-y center center;
      border: 2px solid $color-twine;
      display: block;
      margin: 7px;
      z-index: 1;
    }
  }
}
