@import '../variables';

.text-grid {
  position: relative;

  > .line {
    margin-bottom: 20px;
    margin-left: -4.5%;
    overflow: hidden;
    width: 100%;

    &.loaded {
      > div {
        > span {
          padding-top: 0;
        }
      }
    }

    > div {
      @include size(9.09%, 100px);
      float: left;
      position: relative;

      &.white {
        > span {
          color: $color-mercury;
        }
      }

      > span {
        @include position(absolute, 50% null null 0);
        @include transition(padding-top 0.45s ease-in-out);
        color: $color-twine;
        display: block;
        font-family: $font-family-oswald;
        font-size: 70px;
        line-height: 100px;
        margin-top: -50px;
        padding-top: 100%;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        @media (max-width: 1380px) {
          font-size: 50px;
        }
      }

      @for $i from 1 through 10 {
        &:nth-child(#{$i + 1}) {
          > span {
            transition-delay: $i * 0.1s;
          }
        }
      }
    }
  }
}
